*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f4f6f9;
    font-family:Arial, Helvetica, sans-serif;
}

.text-success{
    color:#0f5c2e !important;
}

.rounded-circle{
    object-fit:cover;
}

.card{
    border:none;
    border-radius:18px;
    transition:0.2s;
}

.card:hover{
    transform:translateY(-4px);
}

.card i{
    font-size:42px;
}

.card h6{
    margin-top:10px;
    font-weight:600;
}

