* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}


/* Container otomatis mengikuti layar */
.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}


/* Card responsive */
.card {
    width: 100%;
    border-radius: 15px;
}


/* Input & tombol nyaman di HP */
input,
select,
button {
    width: 100%;
    min-height: 45px;
    font-size: 16px;
}


/* Tabel bisa digeser di HP */
.table-responsive {
    overflow-x: auto;
}


/* Dashboard kartu */
.row {
    display: flex;
    flex-wrap: wrap;
}


/* HP */
@media (max-width: 576px){

    h4 {
        font-size: 20px;
    }


    h5 {
        font-size: 18px;
    }


    .card {
        margin-bottom: 15px;
    }


    table {
        font-size: 14px;
    }

}


/* Tablet */
@media (min-width:577px) and (max-width:992px){

    .card {
        padding: 15px;
    }

}


/* Laptop */
@media (min-width:993px){

    .container {
        padding:20px;
    }

}
